__pycache__/
.env
.coverage
dev-commands.md
*.sql
.pytest_cache

# Playwright
tests/playwright/node_modules/
tests/playwright/test-results/
tests/playwright/playwright-report/
tests/playwright/playwright/.cache/
tests/playwright/flake-report.json
