__pycache__/
.env
.coverage
dev-commands.md
db/mass_spectrum_db.sql
.pytest_cache
.DS_Store

# Playwright
tests/playwright/node_modules/
tests/playwright/test-results/
tests/playwright/playwright-report/
tests/playwright/playwright/.cache/
tests/playwright/flake-report.json
